@tailwind base;
@tailwind components;
@tailwind utilities;

@import './_font-face.css';
@import './images.css';
@import './text.css';
@import './swiper.css';

.h-screen {
	height: 100vh;
	height: 100svh;
}

@media (min-width: 1024px) {
	.container {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
